<!DOCTYPE HTML>
<html>
  <head>
    <link rel="stylesheet" href="../../static/frankapp/css/search.css" />
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>

    <script src="../../static/frankapp/js/slider.js"></script>
    <script src="../../static/frankapp/js/search.js"></script>
  </head>
  <body>
    <div class="page-contents">
      <div class="frank-logo"></div>
      <div class="search-tabs">
        <div class="search-tab" data-tab="people-search">
          <span class="search-tab-label"> People </span>
        </div>
        <div class="search-tab inactive-tab" data-tab="events-search">
          <span class="search-tab-label"> Events </span>
        </div>
      </div>

      <div class="people-search tab-content active-tab-content">
        <div class="people-types">
          <label class="people-type-checkbox">
            <input type="checkbox" id="people-type-actor" name="people-type" value="actor" class="regular-checkbox people-type-checkbox" checked />
            <div class="checkbox-style"></div>
            <div class="people-type-icon">
              <i class="icon icon-actor"></i>
              <span class="people-type-label"> Actor </span>
            </div>
          </label>

          <label class="people-type-checkbox">
            <input type="checkbox" name="people-type" value="crew" class="regular-checkbox people-type-checkbox" />
            <div class="checkbox-style"></div>
            <div class="people-type-icon">
              <i class="icon icon-crew"></i>
              <span class="people-type-label"> Crew </span>
            </div>
          </label>

          <label class="people-type-checkbox">
            <input type="checkbox" name="people-type" value="role" class="regular-checkbox people-type-checkbox" />
            <div class="checkbox-style"></div>
            <div class="people-type-icon">
              <i class="icon icon-role"></i>
              <span class="people-type-label"> Role </span>
            </div>
          </label>
        </div>

        <input type="text" class="people-name-input" name="people-name" placeholder="Name..." />

        <div class="actor-performing-date">
          <span> Performing between </span>
          <input type="text" name="performing-start" class="performing-start-date" />
          <span> and </span>
          <input type="text" name="performing-end" class="performing-end-date" />
        </div>


        <div class="people-search-button-container">
          <div class="people-search-button">Update Results</div>
        </div>
      </div>

      <div class="events-search tab-content">
        <input type="text" class="event-name-input" name="event-name" placeholder="Event's name..." />

        <div class="event-performing-date">
          <span> Happening between </span>
          <input type="text" name="event-start" class="event-start-date" />
          <span> and </span>
          <input type="text" name="event-end" class="event-end-date" />
        </div>


        <div class="events-search-button-container">
          <div class="events-search-button">Update Results</div>
        </div>
      </div>

      <div class="search-results">
        <div class="people-search-result search-result">
          <div class="search-result-slider" style="width: 430px; height: 100px">
            <div data-slidr="one">
              <div class="actor-image">
                <img></img>
              </div>
              <div class="actor-information">
                <div class="actor-information-name">Kien Hoang</div>
                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, mi vel dictum sollicitudin, sem nulla cursus nulla, lacinia tristique quam augue et nulla. Maecenas ultrices eros non dui ultricies lobortis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin porttitor magna quis rhoncus venenatis. Morbi sed sem nec leo lacinia hendrerit. Curabitur vel leo porttitor, dapibus felis et, luctus libero. Nullam est tellus, eleifend eget vehicula venenatis, luctus dictum risus.</div>
              </div>
            </div>
            <div data-slidr="two">
              <div class="performance-times-roles">
                <div class="performance-times">
                  <div>03/05/14 5:30 p.m.</div>
                  <div>03/15/14 10:30 a.m.</div>
                  <div>03/20/14 8:30 p.m.</div>
                  <div>05/05/14 1:30 p.m.</div>
                </div>
                <div class="performance-times-roles-divider"></div>
                <div class="performance-roles">
                  <div>Role: Frankenstein</div>
                  <div>Role: Monster</div>
                  <div>Role: Tree</div>
                  <div>Role: The Fucking Eagle</div>
                </div>
              </div>
            </div>
          </div>

          <a href="#" class="slider-right">See performance times</a>
          <a href="#" class="slider-left">Go back</a>
        </div>

        <div class="people-search-result search-result">
          <div class="search-result-slider" style="width: 430px; height: 100px">
            <div data-slidr="one">
              <div class="actor-image">
                <img></img>
              </div>
              <div class="actor-information">
                <div class="actor-information-name">Kien Hoang</div>
                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, mi vel dictum sollicitudin, sem nulla cursus nulla, lacinia tristique quam augue et nulla. Maecenas ultrices eros non dui ultricies lobortis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin porttitor magna quis rhoncus venenatis. Morbi sed sem nec leo lacinia hendrerit. Curabitur vel leo porttitor, dapibus felis et, luctus libero. Nullam est tellus, eleifend eget vehicula venenatis, luctus dictum risus.</div>
              </div>
            </div>
            <div data-slidr="two">
              <div class="performance-times-roles">
                <div class="performance-times">
                  <div>03/05/14 5:30 p.m.</div>
                  <div>03/15/14 10:30 a.m.</div>
                  <div>03/20/14 8:30 p.m.</div>
                  <div>05/05/14 1:30 p.m.</div>
                </div>
                <div class="performance-times-roles-divider"></div>
                <div class="performance-roles">
                  <div>Role: Frankenstein</div>
                  <div>Role: Monster</div>
                  <div>Role: Tree</div>
                  <div>Role: The Fucking Eagle</div>
                </div>
              </div>
            </div>
          </div>

          <a href="#" class="slider-right">See performance times</a>
          <a href="#" class="slider-left">Go back</a>
        </div>

        <div class="people-search-result search-result">
          <div class="search-result-slider" style="width: 430px; height: 100px">
            <div data-slidr="one">
              <div class="actor-image">
                <img></img>
              </div>
              <div class="actor-information">
                <div class="actor-information-name">Kien Hoang</div>
                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, mi vel dictum sollicitudin, sem nulla cursus nulla, lacinia tristique quam augue et nulla. Maecenas ultrices eros non dui ultricies lobortis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin porttitor magna quis rhoncus venenatis. Morbi sed sem nec leo lacinia hendrerit. Curabitur vel leo porttitor, dapibus felis et, luctus libero. Nullam est tellus, eleifend eget vehicula venenatis, luctus dictum risus.</div>
              </div>
            </div>
            <div data-slidr="two">
              <div class="performance-times-roles">
                <div class="performance-times">
                  <div>03/05/14 5:30 p.m.</div>
                  <div>03/15/14 10:30 a.m.</div>
                  <div>03/20/14 8:30 p.m.</div>
                  <div>05/05/14 1:30 p.m.</div>
                </div>
                <div class="performance-times-roles-divider"></div>
                <div class="performance-roles">
                  <div>Role: Frankenstein</div>
                  <div>Role: Monster</div>
                  <div>Role: Tree</div>
                  <div>Role: The Fucking Eagle</div>
                </div>
              </div>
            </div>
          </div>

          <a href="#" class="slider-right">See performance times</a>
          <a href="#" class="slider-left">Go back</a>
        </div>

        <div class="people-search-result search-result">
          <div class="search-result-slider" style="width: 430px; height: 100px">
            <div data-slidr="one">
              <div class="actor-image">
                <img></img>
              </div>
              <div class="actor-information">
                <div class="actor-information-name">Kien Hoang</div>
                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, mi vel dictum sollicitudin, sem nulla cursus nulla, lacinia tristique quam augue et nulla. Maecenas ultrices eros non dui ultricies lobortis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin porttitor magna quis rhoncus venenatis. Morbi sed sem nec leo lacinia hendrerit. Curabitur vel leo porttitor, dapibus felis et, luctus libero. Nullam est tellus, eleifend eget vehicula venenatis, luctus dictum risus.</div>
              </div>
            </div>
            <div data-slidr="two">
              <div class="performance-times-roles">
                <div class="performance-times">
                  <div>03/05/14 5:30 p.m.</div>
                  <div>03/15/14 10:30 a.m.</div>
                  <div>03/20/14 8:30 p.m.</div>
                  <div>05/05/14 1:30 p.m.</div>
                </div>
                <div class="performance-times-roles-divider"></div>
                <div class="performance-roles">
                  <div>Role: Frankenstein</div>
                  <div>Role: Monster</div>
                  <div>Role: Tree</div>
                  <div>Role: The Fucking Eagle</div>
                </div>
              </div>
            </div>
          </div>

          <a href="#" class="slider-right">See performance times</a>
          <a href="#" class="slider-left">Go back</a>
        </div>
      </div>
    </div>
  </body>
</html>
