<!DOCTYPE HTML>
<html>
  <head>
  	{% load static from staticfiles %}
    <link rel="stylesheet" href="{% static "frankapp/css/search.css" %}" />
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>

    <script src="{% static "frankapp/js/slider.js" %}"></script>
    <script src="{% static "frankapp/js/search.js" %}"></script>
  </head>
  <body>
    <div class="page-contents">
      <div class="frank-logo"></div>
      <div class="search-tabs">
        <div class="search-tab" data-tab="people-search">
          <span class="search-tab-label"> People </span>
        </div>
        <div class="search-tab inactive-tab" data-tab="events-search">
          <span class="search-tab-label"> Events </span>
        </div>
      </div>

      <div class="people-search tab-content active-tab-content">
        <div class="people-types">
          <label class="people-type-checkbox">
            <input type="checkbox" id="people-type-actor" name="people-type" value="actor" class="regular-checkbox people-type-checkbox" checked />
            <div class="checkbox-style"></div>
            <div class="people-type-icon">
              <i class="icon icon-actor"></i>
              <span class="people-type-label"> Actor </span>
            </div>
          </label>

          <label class="people-type-checkbox">
            <input type="checkbox" name="people-type" value="crew" class="regular-checkbox people-type-checkbox" />
            <div class="checkbox-style"></div>
            <div class="people-type-icon">
              <i class="icon icon-crew"></i>
              <span class="people-type-label"> Crew </span>
            </div>
          </label>

          <label class="people-type-checkbox">
            <input type="checkbox" name="people-type" value="role" class="regular-checkbox people-type-checkbox" />
            <div class="checkbox-style"></div>
            <div class="people-type-icon">
              <i class="icon icon-role"></i>
              <span class="people-type-label"> Role </span>
            </div>
          </label>
        </div>

        <input type="text" class="people-name-input" name="people-name" placeholder="Name..." />

        <div class="actor-performing-date">
          <span> Performing between </span>
          <input type="text" name="performing-start" class="performing-start-date" />
          <span> and </span>
          <input type="text" name="performing-end" class="performing-end-date" />
        </div>


        <div class="people-search-button-container">
          <div class="people-search-button">Update Results</div>
        </div>
      </div>

      <div class="events-search tab-content">
        <input type="text" class="event-name-input" name="event-name" placeholder="Event's name..." />

        <div class="event-performing-date">
          <span> Happening between </span>
          <input type="text" name="event-start" class="event-start-date" />
          <span> and </span>
          <input type="text" name="event-end" class="event-end-date" />
        </div>


        <div class="events-search-button-container">
          <div class="events-search-button">Update Results</div>
        </div>
      </div>

      <div class="search-results">
      	{% if actors_results %}
      	{% for actors_result in actors_results %}
        <div class="people-search-result search-result">
          <div class="search-result-slider" style="width: 430px; height: 100px">
            <div data-slidr="one">
              <div class="actor-image">
                <img src="{% static "frankapp/images/" %}"></img>
              </div>
              <div class="actor-information">
                <div class="actor-information-name">{{ actors_result.actor.name }}</div>
                <div></div>
              </div>
            </div>
            <div data-slidr="two">
              <div class="performance-times-roles">
                <div class="performance-times">
                  <div>{{ actors_result.eventstimes.daytime }}</div>
                </div>
                <div class="performance-times-roles-divider"></div>
                <div class="performance-roles">
                  <div>{{ actors_result.role.name }}</div>
                </div>
              </div>
            </div>
          </div>

          <a href="#" class="slider-right">See performance times</a>
          <a href="#" class="slider-left">Go back</a>
        </div>
        {% endfor %}
        {% endif %}

        {% if crew_results %}
      	{% for crew_result in crew_results %}
        <div class="people-search-result search-result">
          <div class="search-result-slider" style="width: 430px; height: 100px">
            <div data-slidr="one">
              <div class="actor-image">
                <img src="{% static "frankapp/images/" %}"></img>
              </div>
              <div class="actor-information">
                <div class="actor-information-name">{{ crew_result.crew.name }}</div>
                <div></div>
              </div>
            </div>
            <div data-slidr="two">
              <div class="performance-times-roles">
                <div class="performance-times">
                  <div>{{ crew_result.stage.name }}: {{ crew_result.stage.description }}</div>
                </div>
                <div class="performance-times-roles-divider"></div>
                <div class="performance-roles">
                  <div>{{ crew_result.responsibility.name }}</div>
                </div>
              </div>
            </div>
          </div>

          <a href="#" class="slider-right">See performance times</a>
          <a href="#" class="slider-left">Go back</a>
        </div>
        {% endfor %}
        {% endif %}

        {% if role_results %}
      	{% for role_result in role_results %}
        <div class="people-search-result search-result">
          <div class="search-result-slider" style="width: 430px; height: 100px">
            <div data-slidr="one">
              <div class="actor-image">
                <img src="{% static "frankapp/images/" %}"></img>
              </div>
              <div class="actor-information">
                <div class="actor-information-name">{{ role_result.role.name }}</div>
                <div></div>
              </div>
            </div>
            <div data-slidr="two">
              <div class="performance-times-roles">
                <div class="performance-times">
                  <div>{{ role_result.eventstimes.daytime }}</div>
                </div>
                <div class="performance-times-roles-divider"></div>
                <div class="performance-roles">
                  <div>{{ role_result.actor.name }}</div>
                </div>
              </div>
            </div>
          </div>

          <a href="#" class="slider-right">See performance times</a>
          <a href="#" class="slider-left">Go back</a>
        </div>
        {% endfor %}
        {% endif %}
      </div>
    </div>
  </body>
</html>
